<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
	<span class="predefined-searches">
	<!-- IF S_DISPLAY_SEARCH -->
		<span><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></span>
		<!-- IF S_LOAD_UNREADS --> 
			<span><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></span>
		<!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->
			<span><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></span>
		<!-- ENDIF -->
		<span><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></span>
	<!-- ENDIF -->
	</span>
<!-- ENDIF -->