<!-- INCLUDEJS @paybas_pbwow/jquery.collapse.js -->
<!-- INCLUDEJS @paybas_pbwow/jquery.collapse_storage.js -->

<script type="text/javascript">
$(document).ready(function($){

	$(".stat-block.online-list").attr('id', 'online-list');
	$(".stat-block.birthday-list").attr('id', 'birthday-list');
	$(".stat-block.statistics").attr('id', 'statistics');
	
	$(".collapse-box > h2, .stat-block > h3").addClass("open")
	$(".collapse-box, .stat-block").collapse({
		persist: true,
		open: function() {
			this.stop(true,true);
			this.addClass("open");
			this.slideDown(400);
		},
		close: function() {
			this.stop(true,true);
			this.slideUp(400);
			this.removeClass("open");
		}
	});

	<!-- IF S_VIEWTOPIC -->
	$('.postprofile').each(function() {
		var $this = $(this),
			trigger = $this.find('dt a'),
			contents = $this.find('.context'),
			options = {
				direction: 'auto',
				verticalDirection: 'auto'
			},
			data;

		if (!trigger.length) {
			data = $this.attr('data-dropdown-trigger');
			trigger = data ? $this.children(data) : $this.children('a:first');
		}

		if (!contents.length) {
			data = $this.attr('data-dropdown-contents');
			contents = data ? $this.children(data) : $this.children('div:first');
		}

		if (!trigger.length || !contents.length) return;

		if ($this.hasClass('dropdown-up')) options.verticalDirection = 'up';
		if ($this.hasClass('dropdown-down')) options.verticalDirection = 'down';
		if ($this.hasClass('dropdown-left')) options.direction = 'left';
		if ($this.hasClass('dropdown-right')) options.direction = 'right';

		phpbb.registerDropdown(trigger, contents, options);
	});
	<!-- ENDIF -->
});
</script>

<!-- IF S_VIDEOBG and (S_INDEX or S_VIDEOBG_ALL) and not S_IS_BOT  --><!-- INCLUDE videobg.html --><!-- ENDIF -->

<!-- IF not S_IS_BOT -->
	<!-- IF WOWTIPS_SCRIPT --><script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script><script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script><!-- ENDIF -->
	<!-- IF D3TIPS_SCRIPT --><script type="text/javascript" src="http://{TTIPS_REGION}.battle.net/d3/static/js/tooltips.js"></script><!-- ENDIF -->
	<!-- IF ZAMTIPS_SCRIPT --><script type="text/javascript" src="http://zam.zamimg.com/j/tooltips.js"></script><!-- ENDIF -->
<!-- ENDIF -->

<!-- IF TRACKING_CODE -->{TRACKING_CODE}<!-- ENDIF -->
