<div class="profile-context">
	<div class="dropdown hidden">
		<div id="p{postrow.POST_ID}-context" class="dropdown-contents">
			<strong class="username">{postrow.POST_AUTHOR}</strong>
			<!-- IF not S_IS_BOT -->
			<div class="user-icons">
				<a class="icon-profile" href="{postrow.U_POST_AUTHOR}">{L_READ_PROFILE}</a>
				<a class="icon-search" href="{postrow.U_SEARCH}" title="{L_SEARCH_USER_POSTS}"></a>
				<!-- IF postrow.S_FRIEND --><!--Friend! yay!--><!-- ENDIF -->
				<!-- IF U_PROFILE --><a class="icon-ignore" href="{U_PROFILE}?i=zebra&mode=foes&add={postrow.POST_AUTHOR}" title="Ignore user" accesskey="e"></a><!-- ENDIF -->
			</div>
			<!-- ENDIF -->

			<!-- IF postrow.POSTER_JOINED --><dd class="profile-joined"><strong>{L_JOINED}{L_COLON}</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
			<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd class="profile-rank">{postrow.RANK_IMG} {postrow.RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF (postrow.POSTS_RANK_TITLE or postrow.POSTS_RANK_IMG) and (postrow.POSTS_RANK_TITLE !== postrow.RANK_TITLE) --><dd class="profile-posts-rank">{postrow.POSTS_RANK_IMG} {postrow.POSTS_RANK_TITLE}</dd><!-- ENDIF -->
