<div class="profile-context">
	<div class="dropdown hidden">
		<div id="p{postrow.POST_ID}-context" class="dropdown-contents">
			<strong>{postrow.POST_AUTHOR}</strong>
			<!-- IF not S_IS_BOT -->
			<div class="user-icons">
				<a class="icon-profile" href="{postrow.U_POST_AUTHOR}">{L_READ_PROFILE}</a>
				<a class="icon-posts" href="{postrow.U_SEARCH}" title="{L_SEARCH_USER_POSTS}"></a>
				<!-- IF postrow.S_FRIEND --><!--Friend! yay!--><!-- ENDIF -->
				<!-- IF U_PROFILE --><a class="icon-foe" href="{U_PROFILE}?i=zebra&mode=foes&add={postrow.POST_AUTHOR}" title="Ignore user" accesskey="e"></a><!-- ENDIF -->
			</div>
			<!-- ENDIF -->
		
		<!--
		
		<!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{postrow.POST_AUTHOR_FULL}<!-- ENDIF -->
		<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd class="profile-rank">{postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br /><!-- ENDIF -->{postrow.RANK_IMG}</dd><!-- ENDIF -->
		
		<!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}{L_COLON}</strong> {postrow.POSTER_POSTS}</dd><!-- ENDIF -->
		<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}{L_COLON}</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
		
		-->